[Desktop Entry]
Name=G15 Manager
Version=0.1
Exec=/usr/bin/g15manager
Icon=/usr/share/g15manager/icons/g15.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=GTK;Utility;
