[Desktop Entry]
Name=G15Manager
GenericName=Logitech G15 Manager
Comment=Control the screen and GKeys of the G15 keyboard
Exec=g15manager
Terminal=false
Type=Application
Icon=/usr/share/g15manager/icons/g15manager.png
Categories=Qt;Settings;HardwareSettings;
StartupNotify=false
